<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
    {% block styles %}{% endblock %}
    <title>{% block title %}უსახელო{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <h1>უსახელო</h1>
            <ul>
                {% if current_user.is_authenticated %}
                <li class="username">{{ current_user.username }}</li>
                <li><a href="/">მთავარი</a></li>
                <li><a href="/add_post">პოსტის დამატება</a></li>
                <li><a href="/logout">გამოსვლა</a></li>
                {% else %}
                <li><a href="/login">შესვლა</a></li>
                <li><a href="/register">რეგისტრაცია</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- <footer>
        <p>&copy; 2024 უსახელო. ყველა უფლება დაცულია.</p>
    </footer> -->
</body>
</html>