<!DOCTYPE html>
<html lang="ka">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
    {% block styles %}{% endblock %}
    <title>{% block title %}უსახელო{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <h1>უსახელო</h1>
            <ul>
                {% if current_user.is_authenticated %}
                <input class="search-input" type="search">
                <input class="submit-input" type="submit" value="ძიება" style="font-family: TBC;">
                <li><a href="/">მთავარი</a></li>
                <li><a href="/add_post">პოსტის დამატება</a></li>
                <li><a href="/logout">გამოსვლა</a></li>
                {% else %}
                <li><a href="/login">შესვლა</a></li>
                <li><a href="/register">რეგისტრაცია</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <div class="container">
        {% if current_user.is_authenticated %}
        <aside>
            <div class="user-info">
                <img src="{{ url_for('static', filename='uploads/' ~ current_user.img) }}" alt="მომხმარებლის სურათი"
                    class="user-image">
                <p class="username">{{ current_user.username }}</p>
            </div>
            <ul class="side-links">
                <li><a href="{{ url_for('profile', username=current_user.username) }}" style="text-decoration: none; color: rgb(0, 0, 0);">პროფილი</a></li>
                <li><a href="/profile">პროექტები</a></li>
                <li><a href="/chats">ჩატი</a></li>
            </ul>
        </aside>
        {% endif %}

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    
    <script src="/static/JS/Search.js"></script>
    
</body>

</html>