{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/editpost.css">
{% endblock %}

{% block content %}
<div class="add-post-container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="title") }}
        </div>

        <div class="form-group">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="textarea", rows="5") }}
        </div>

        <div class="form-group">
            {{ form.keywords.label(class="form-label") }}
            {{ form.keywords(class="title") }}
        </div>

        <div class="form-group file-upload">
            {{ form.image.label(class="form-label") }}
            <label for="imageInput" class="custom-file-upload">
                <p>Choose File</p>
            </label>
            {{ form.image(id="imageInput", class="file-input") }}
            <div id="imagePreview">
                <img id="previewImage" src="#" alt="Image Preview"/>
            </div>
        </div>

        <div class="form-group">
            {{ form.submit(class="submit", value="Update Post") }}
        </div>
    </form>
    
</div>

<script>
document.getElementById('imageInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const reader = new FileReader();
    reader.onload = function(e) {
        document.getElementById('previewImage').src = e.target.result;
        document.getElementById('imagePreview').style.display = 'block';
    };
    reader.readAsDataURL(file);
});
</script>
{% endblock %}
