/* General styles */
body {
    font-family: TBC; /* Or use your preferred font-family */
    margin: 0;
    padding: 0;
}

/* Container to center the form */
.login-container {
    display: grid;
    justify-content: center;
}

/* Form styling */
.login_form {
    width: 100%;
    max-width: 400px; /* Limit the width of the form */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

/* Page header styling */
.login {
    text-align: center;
    font-size: 2rem;
    color: #333; /* Dark grey text color */
    margin-bottom: 20px;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Dark grey text color */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Submit button styling */
.submit-btn {
    background-color: #0073b1; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width button */
}

.submit-btn:hover {
    background-color: #005b99; /* Darker blue on hover */
}
