

/* Container to center the form */
.register-container {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4; /* Match background color */
}

/* Form styling */
.register_form {
    width: 100%;
    max-width: 500px; /* Limit the width of the form */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.register {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.file-upload {
    position: relative;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #0073b1;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-preview {
    margin-top: 10px;
    display: none; /* Hidden by default */
}

.submit-btn {
    background-color: #0073b1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-btn:hover {
    background-color: #005b99;
}
